apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-config
  namespace: {{ NAMESPACE }}
  labels:
    alertmanager: "main"
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'alerts@alertmanager.{{ ROUTE53_DOMAIN }}'
      smtp_auth_username: '{{ JENKINS_EMAIL_USERNAME }}'
      smtp_auth_password: '{{ JENKINS_EMAIL_PASSWORD }}'

    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: email-team

    receivers:
      - name: email-team
        email_configs:
          - to: '{{ EMAIL_RECIPIENT }}'

    inhibit_rules:
      - source_match:
          severity: 'critical'
        target_match:
          severity: 'warning'
        equal: ['alertname', 'dev', 'instance']
