apiVersion: v1
kind: Secret
metadata:
  name: grafana-smtp-secret
  namespace: {{ NAMESPACE }}
type: Opaque
stringData:
  GRAFANA_SMTP_USER: {{ GRAFANA_SMTP_USER }}
  GRAFANA_SMTP_PASSWORD: {{ GRAFANA_SMTP_PASSWORD }}
